* { 
    margin: 0; 
    border: 0; 
    box-sizing: border-box;
    font-family: 'Merienda', cursive;
}

body { 
    background-image: url(./img/bubbles.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

main { 
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    margin-top: 2%;   
}

h1, div { 
    text-align: center;
    color: white;
}

p {
    color: white; 
    font-size: 10px;
}

#units { 
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.bottom { 
    display: flex; 
    flex-direction: column;
    align-items: center;

}

.box { 
    border: white 1.5px dotted;
    height: 100px;
    width: 100px;
    margin: 2%;
}

.ariel { 
    
    background-image: url(./img/ariel.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.flounder {
    background-image: url(./img/flounder.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

.fish { 
    background-image: url(./img/seb.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

#button { 
    margin-top: 20px;
    background: transparent;
    background-image: url(./img/ursula.gif);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;  
    cursor: pointer;
}

#restartButton {
    display: none;
    margin-top: 2%;
    cursor: pointer;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    background-color: coral;
    color: white;
    border-radius: 2px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 18px 0 rgba(0,0,0,0.19);
}

.splash { 
    background-image: url(./img/splash.gif);
}